
body { margin:0; padding:100; 
    color: black;
    background-color: white;
    font-family: proxima-nova, sans-serif;
 }

#map { position: fixed;
       top:20; bottom:0; width:100%; height:94.5%; border:1px solid black;  left: 0px; 
       zoom: 1;  
       }

header {
  font-family: proxima-nova, sans-serif;
  background: #3C3C3B;
  position: relative;
  text-align: center;
  height: 50px;
}

h3{ 
  margin-bottom: 0px;
 }

header h2 {
  display: inline-block;
  color:#fff;
  margin:0;
  line-height: 50px;
}
.nav{
  position: relative;
  float: left;
  line-height: 50px;
}
.logo{
  float: right;
  display: block;
  width:50px;
  height: 50px;
}

.logo img {
  width: 100%;
  height: auto;
}

.btn{
  background-color: #3a99d8;
  font-size: 1.5rem;
  font-weight: 400;
  border: 1px solid transparent;
  border-radius: 2px;
  padding: .4em 1em;
  box-shadow: 0 1.5px 4px rgba(0,0,0,.24),0 1.5px 6px rgba(0,0,0,.12);
}
.home-buttons{
    position:relative;
    left:40%;
    margin: -20px -50px; 
    text-align: left;
    display: block;
    border: 1px solid transparent;
    border-radius: 2px;
}
/*Projects Map knop*/
.but1{
    /*font-weight: 200;*/
    width:300px;
    position:fixed;
    top:50%;
}

/*Respond List knop*/
.but2{
    /*font-weight: 200;*/
    width:300px;
    position:fixed;
    top:57%;
}

/*Respond knop*/
.but3{ 
    position:absolute;
    top:20%;
    left:35%;
    width:155px;
}

.list {
    border: 1px solid black;
    position:absolute;
    background-color:   white;
    top:50%;
    left:15%;
    width:300px; height:200px; overflow: auto;
}


/*show coordinates of the marker */
/*pre.ui-coordinates {
  position:absolute;
  bottom:10px;
  left:10px;
  padding:5px 10px;
  background:rgba(0,0,0,0.5);
  color:#fff;
  font-size:11px;
  line-height:18px;
  border-radius:3px;
  }*/

/*table list*/
#project-list {
    position:absolute;
    width:90%;
    left:5%;
    border: 1px solid black;
    margin-bottom: 5%;
    color: black;
}


#detail{
border: 1px solid black;
width: 100%;
}

#loader{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index:3;
  display:none;
}

#loader-bg{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.1;
  z-index:3;
}

#loader-icon{
  position: absolute;
  left: 40%;
  top: 50%;
  color: #fff;
  font-size: 20px;
  width: 100px;
  height: 50px;
  z-index: 3;
}

.projects_near_me_button {
  /*display:block;*/
  position:absolute;
  top:10%;
  left:60%;
  width:160px;
  z-index:100;
  text-align:left;
  /*border-radius:3px;*/
  }

  /*marker button*/
.marker{
    position:absolute;
    top:15%;
    left:60%;
    width:160px;
    text-align:left;
}

#title{
  font-weight: bold;
}

.respond{
  position:absolute;
  width:100px;
  right:  2%;
  top:   7%;
}

#radius-input{
  position: absolute;
  top: 20%;
  left: 60%;
  width: 100px;
  height: 50px;
  z-index: 3;
  color:black;
}



/* The side navigation menu */
.sidenav {

    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 2; /* Stay on top */
    top:50px;
    left:0;
    background-color: #3C3C3B; /* grey*/
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: .3s ; /* 0.5 second transition effect to slide in the sidenav */
    text-align: left;
}

/* The navigation menu links */
.sidenav a {
    font-family: proxima-nova, sans-serif;
    padding: 10px 10px 10px 52px;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 400;
    color: white;
    display: block;
    transition: 0.2s;
    white-space:nowrap;
    margin: 0;
    padding-left: 10px;
}

.main-nav ul li a {
    display: block;
    color: #fff;
    border-left: 2px solid transparent;
    padding: .8rem .4rem;
}
.sidenav ul {
  padding-left: 0px;
 list-style: none;
}

.sidenav hr{
  margin: 0;
}
/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    background-color: #3a99d8;
}

/* Position and style the close button (top right corner) */
/*.closebtn {
    position: absolute;
    top: 0;
    left: 0;
        font-weight: 700;
    
}*/


