
body { margin:0; padding:100; 
    color: black;
    background-color: white;
    font-family: proxima-nova, sans-serif;
 }

#map { position: fixed;
      bottom:0; width:100%; height:94.5%;   
      left:0;
      display: block;
       /*zoom: 1;  */
      }

header {
  font-family: proxima-nova, sans-serif;
  background: #3C3C3B;
  position: relative;
  text-align: center;
  height: 50px;
}

h3{ 
    font-family: proxima-nova, sans-serif;
  margin-bottom: 0px;
 }

header h2 {
  font-family: proxima-nova, sans-serif;
  display: inline-block;
  color:#fff;
  margin:0;
  line-height: 50px;
}
.nav{
  position: relative;
  float: left;
  line-height: 50px;
}
.logo{
  float: right;
  display: block;
  width:50px;
  height: 50px;
}

.logo img {
  width: 100%;
  height: auto;
}

.btn{
  background-color: #3a99d8;
  font-size: 1.5rem;
  font-weight: 400;
  border: 1px solid transparent;
  border-radius: 2px;
  padding: .4em 1em;
  box-shadow: 0 1.5px 4px rgba(0,0,0,.24),0 1.5px 6px rgba(0,0,0,.12);
}

.home-buttons{
    position:relative;
    top:50%;
    margin: 0 auto;
    text-align: center;
    border: 1px solid transparent;
    border-radius: 2px;
}
/*Projects Map knop*/
.but1{
    clear: both;
    top:50%;
    display: block;
    margin: 0 auto;
    width:300px;
}

/*Respond List knop*/
.but2{
    clear: both;
    margin: 0 auto;
    margin-top:10px;
    display: block;
    width:300px;
    position:relative;

}

/*Respond knop*/
.but3{ 
    position:absolute;
    top:20%;
    left:35%;
    width:155px;
}

.list {
    border: 1px solid black;
    position:absolute;
    background-color: white;
    top:50%;
    left:15%;
    width:300px; height:200px; overflow: auto;
}


/*show coordinates of the marker */
/*pre.ui-coordinates {
  position:absolute;
  bottom:10px;
  left:10px;
  padding:5px 10px;
  background:rgba(0,0,0,0.5);
  color:#fff;
  font-size:11px;
  line-height:18px;
  border-radius:3px;
  }*/

/*table list*/
#project-list {
    position:absolute;
    width:90%;
    left:5%;
    margin-bottom: 5%;
    color: black;
}


#loader{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index:3;
  display:none;
}

#loader-bg{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.1;
  z-index:3;
}

#loader-icon{
  position: absolute;
  left: 40%;
  top: 50%;
  color: #fff;
  font-size: 20px;
  width: 100px;
  height: 50px;
  z-index: 3;
}

/*.projects_near_me_button {

  position:relative;
  width:200px;
  z-index:100;
  text-align:center;
  float: right;
  clear: both;
  margin-top: 5px;
    margin-bottom: 10px;
  }*/

  /*marker button*/
.marker{
    position:relative;
    width:200px;
    text-align:center;
    float: right;
    clear: both;
}
#radius-input{
  position: relative;
  float: right;
  clear: both;
  width: 200px;
  height: 50px;
  z-index: 3;
  color:black;
}
#count{
  margin-top: 15px;
  position: relative;
  float: right;
  clear: both;
}

#title{
  font-weight: bold;
}

.respond{
  position:absolute;
  width:100px;
  right:  2%;
  top:   7%;
}






/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 2; /* Stay on top */
    top:0px;
    left:0;
    background-color: #333;
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: .2s ; /* 0.5 second transition effect to slide in the sidenav */
    text-align: left;
}

/* The navigation menu links */
.sidenav a {
    font-family: proxima-nova, sans-serif;
    padding: 14px 10px 14px 52px;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 500;
    color: white;
    display: block;
    transition: 0.2s;
    white-space:nowrap;
    margin: 0;
    padding-left: 20px;
}

.sidenav ul li a:hover{
background: #242424;
}
.sidenav ul {
  padding-left: 0px;
  list-style: none;
}

.sidenav hr{
  margin: 0;
  display: block;
  border: 0;
  border-top: 1px solid #fff;
  padding: 0; 
  opacity: 0.1;
}
/* When you mouse over the navigation links, change their color */
/*.sidenav a:hover, .offcanvas a:focus{
    background-color: #3a99d8;
}*/

/* Position and style the close button (top right corner) */
.closebtn {
   background-color: #3a99d8;
}
.closebtn a:hover {
background-color: #257fba;
}


