
body { margin:0; padding:100; 
    color: white;
background-color: hsl(2, 57%, 40%);
background-image: repeating-linear-gradient(transparent, transparent 50px, rgba(0,0,0,.4) 50px, rgba(0,0,0,.4) 53px, transparent 53px, transparent 63px, rgba(0,0,0,.4) 63px, rgba(0,0,0,.4) 66px, transparent 66px, transparent 116px, rgba(0,0,0,.5) 116px, rgba(0,0,0,.5) 166px, rgba(255,255,255,.2) 166px, rgba(255,255,255,.2) 169px, rgba(0,0,0,.5) 169px, rgba(0,0,0,.5) 179px, rgba(255,255,255,.2) 179px, rgba(255,255,255,.2) 182px, rgba(0,0,0,.5) 182px, rgba(0,0,0,.5) 232px, transparent 232px),
repeating-linear-gradient(270deg, transparent, transparent 50px, rgba(0,0,0,.4) 50px, rgba(0,0,0,.4) 53px, transparent 53px, transparent 63px, rgba(0,0,0,.4) 63px, rgba(0,0,0,.4) 66px, transparent 66px, transparent 116px, rgba(0,0,0,.5) 116px, rgba(0,0,0,.5) 166px, rgba(255,255,255,.2) 166px, rgba(255,255,255,.2) 169px, rgba(0,0,0,.5) 169px, rgba(0,0,0,.5) 179px, rgba(255,255,255,.2) 179px, rgba(255,255,255,.2) 182px, rgba(0,0,0,.5) 182px, rgba(0,0,0,.5) 232px, transparent 232px),
repeating-linear-gradient(125deg, transparent, transparent 2px, rgba(0,0,0,.2) 2px, rgba(0,0,0,.2) 3px, transparent 3px, transparent 5px, rgba(0,0,0,.2) 5px);
 }

#map { position: fixed;
       top:20; bottom:0; width:100%; height:86%; border:2px solid black;  left: 0px; 
       zoom: 1;  
       }

h1{
  font-size: 25px;
  color: white;
  text-align: center;
  margin-top: 32px;
  margin-bottom: 20px;
  font-family: initial;
}


.nav{
  position: absolute;
  top:35px;
  left: 20px; 
}

.home{
  position: absolute;
  top:35px;
  left: 83%; 
}

.head{
  margin:0;
  position: relative;
  border: 1px solid black;
  font-family: verdana;
  background-color:   black; /*#9400D3;*/
}

/*projects near me knop*/
.btn-primary{
    position:absolute;
    top:50%;
    left:35%;
    width:160px;
    text-align: left;
}

/*Respond to project knop*/
.but2{
    position:absolute;
    top:57%;
    left:35%;
    width:160px;
    text-align: left;
}

/*respond knop*/
.but3{ 
    position:absolute;
    top:20%;
    left:35%;
    width:155px;
}

/*marker button*/
.marker
{
    position:absolute;
    top:89%;
    left:15px;
    width:150px;
}

.list {
    border: 1px solid black;
    position:absolute;
    background-color:   white;
    top:50%;
    left:15%;
    width:300px; height:200px; overflow: auto;
}

/*show coordinates of the marker */
/*pre.ui-coordinates {
  position:absolute;
  bottom:10px;
  left:10px;
  padding:5px 10px;
  background:rgba(0,0,0,0.5);
  color:#fff;
  font-size:11px;
  line-height:18px;
  border-radius:3px;
  }*/

table {
    position:absolute;
    width:90%;
    left:5%;
    margin-bottom: 5%;

}
table, th, td {
    border: 2px solid white;
    border-collapse: collapse;
    background-color: black;
}
th, td {
    padding: 3px;
    text-align: left;
}


#loader{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index:3;
  display:none;
}

#loader-bg{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.1;
  z-index:3;
}

#loader-icon{
  position: absolute;
  left: 40%;
  top: 50%;
  color: #fff;
  font-size: 20px;
  width: 100px;
  height: 50px;
  z-index: 3;
}

.find-button {
  /*display:block;*/
  position:absolute;
  top:15%;
  left:75%;
  width:80px;
  z-index:100;
  text-align:center;
  border-radius:3px;
  }

  #title{
    font-weight: bold;
    /*font-style: bold;*/
  }

